Monitoreo_de_sensores.json
[
    {
        "id": "470aac78eaeadca0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "781d5407c5a2d5ba",
        "type": "mqtt in",
        "z": "470aac78eaeadca0",
        "name": "",
        "topic": "/estanque/trucha/temp",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a1a45f38f64f3310",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "f981e20dfaac6507",
                "a095a87ffc4cd99a",
                "a7a0a07922cafeca"
            ]
        ]
    },
    {
        "id": "aec3f5c3e353916d",
        "type": "mqtt in",
        "z": "470aac78eaeadca0",
        "name": "",
        "topic": "/estanque/trucha/pote",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a1a45f38f64f3310",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "76acd1542ba49aab",
                "c51151578ae61e76",
                "f612cca9be882470"
            ]
        ]
    },
    {
        "id": "53f0f0b9752f1474",
        "type": "mqtt in",
        "z": "470aac78eaeadca0",
        "name": "",
        "topic": "/estanque/trucha/nivel",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a1a45f38f64f3310",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "d9929d5c517c429d",
                "9cec7d3c28046290"
            ]
        ]
    },
    {
        "id": "f981e20dfaac6507",
        "type": "debug",
        "z": "470aac78eaeadca0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "76acd1542ba49aab",
        "type": "debug",
        "z": "470aac78eaeadca0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "d9929d5c517c429d",
        "type": "debug",
        "z": "470aac78eaeadca0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "f612cca9be882470",
        "type": "ui_chart",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c51151578ae61e76",
        "type": "ui_gauge",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "a095a87ffc4cd99a",
        "type": "ui_gauge",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "9cec7d3c28046290",
        "type": "ui_gauge",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bombeo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "a7a0a07922cafeca",
        "type": "ui_chart",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "a1a45f38f64f3310",
        "type": "mqtt-broker",
        "name": "ras",
        "broker": "200.79.180.228",
        "port": "1883",
        "clientid": "trucha",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "903eda0d0530d256",
        "type": "ui_group",
        "name": "Monitoreo de sensores",
        "tab": "24cf8ae1134e4cd7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "24cf8ae1134e4cd7",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]