Monitoreo_de_sensores.json
[
    {
        "id": "470aac78eaeadca0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "781d5407c5a2d5ba",
        "type": "mqtt in",
        "z": "470aac78eaeadca0",
        "name": "",
        "topic": "/estanque/trucha/temp",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a1a45f38f64f3310",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "f981e20dfaac6507",
                "a095a87ffc4cd99a",
                "a7a0a07922cafeca"
            ]
        ]
    },
    {
        "id": "aec3f5c3e353916d",
        "type": "mqtt in",
        "z": "470aac78eaeadca0",
        "name": "",
        "topic": "/estanque/trucha/pote",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a1a45f38f64f3310",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "76acd1542ba49aab",
                "c51151578ae61e76",
                "f612cca9be882470"
            ]
        ]
    },
    {
        "id": "53f0f0b9752f1474",
        "type": "mqtt in",
        "z": "470aac78eaeadca0",
        "name": "",
        "topic": "/estanque/trucha/nivel",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a1a45f38f64f3310",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "d9929d5c517c429d",
                "9cec7d3c28046290"
            ]
        ]
    },
    {
        "id": "f981e20dfaac6507",
        "type": "debug",
        "z": "470aac78eaeadca0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "76acd1542ba49aab",
        "type": "debug",
        "z": "470aac78eaeadca0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "d9929d5c517c429d",
        "type": "debug",
        "z": "470aac78eaeadca0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "f612cca9be882470",
        "type": "ui_chart",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 18,
        "width": 4,
        "height": 4,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c51151578ae61e76",
        "type": "ui_gauge",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "pH",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "a095a87ffc4cd99a",
        "type": "ui_gauge",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "9cec7d3c28046290",
        "type": "ui_gauge",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 20,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Bombeo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "a7a0a07922cafeca",
        "type": "ui_chart",
        "z": "470aac78eaeadca0",
        "name": "",
        "group": "903eda0d0530d256",
        "order": 6,
        "width": 4,
        "height": 4,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8893fe7e7dfe2d90",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 1,
        "width": 16,
        "height": 1
    },
    {
        "id": "f4ab5b9b3859445a",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "b6c2e30b4ab5687e",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "8726e2b30d41b72c",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "23af430f462bf12e",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "c0558931c73e21c6",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2456020866c471a0",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "4083097b33308dd9",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "f1dd7175842e4883",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "d10f46d5abc94c50",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6fe32a7f74f1649",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "a449a76fd6984bb2",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f1bbd978bad1edd",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "8231963d6a1c8cdd",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 17,
        "width": 16,
        "height": 1
    },
    {
        "id": "b8f34f53598962b1",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "554c6ac93d1d0843",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "35083d1e9f64f4df",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "c39c7bbb7a6bef9e",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "9418dd99dcc1e342",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "2aa5fee0405f3933",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 25,
        "width": 6,
        "height": 1
    },
    {
        "id": "6d810aef4c658015",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "92f3fefd48240dc9",
        "type": "ui_spacer",
        "z": "470aac78eaeadca0",
        "name": "spacer",
        "group": "903eda0d0530d256",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "a1a45f38f64f3310",
        "type": "mqtt-broker",
        "name": "ras",
        "broker": "200.79.180.228",
        "port": "1883",
        "clientid": "trucha",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "903eda0d0530d256",
        "type": "ui_group",
        "name": "Monitoreo de sensores",
        "tab": "24cf8ae1134e4cd7",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "24cf8ae1134e4cd7",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]